/* CSS Reset Setting Here */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #c3a783;
}
.wrapper{
    width: 1000px;
    height: 1500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d4e2e2;
    border:5px solid #23352a;
}
.header{
    height: 150px;
    
}